Repository ably/docs, pull requests merged in 2021-07, with the labels that each got.

#1131 Update ReactJS Realtime commenting tutorial
  app/assets/images/tutorials/history/channel-rules-add-new-rule.png
  app/assets/images/tutorials/history/channel-rules-create-modal.png
  app/assets/images/tutorials/react-commenting/reactjs-realtime-commenting-final-output.png
  content/tutorials/reactjs-realtime-commenting.textile
Labels: tutorials

#1143 fix: metadata description
  content/control-api/index.textile
Labels: DRAFT

#1141 Move deviceSecret to LocalDevice, out of DeviceDetails
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1144 Refine Ably-Agent
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1057 remove RSN4c, add RTS4b (channels#release)
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec
