Repository ably/docs, pull requests merged in 2022-07, with the labels that each got.

#1469 [EDU-824] Add 2 new demo textile files
  content/tutorials/demo-ably-tower-defense.textile
  content/tutorials/demo-serverless-websocket-quest.textile
Labels: tutorials

#1444 Message Interactions
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1477 [EDX-146] Make sure every type, method, and attribute in IDL mentions a feature spec point
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1479 [EDX-130] integrate hubspot
  .env.example
  .gitignore
  data/createPages/constants.js
  data/createPages/constants.ts
  data/html-parser/index.ts
  data/html-parser/lift-lang-attributes.test.ts
  data/transform/pre-parser/textile-js-workarounds/add-bold-text.test.ts
  data/transform/pre-parser/textile-js-workarounds/add-bold-text.ts
  gatsby-browser.ts
  gatsby-config.js
  gatsby-config.ts
  graphql-types.ts
  jest-preprocess.js
  loadershim.js
  package-lock.json
  package.json
  src/components/Header/Header.tsx
  src/components/Layout/Layout.tsx
  src/components/Menu/TopCodeMenu.js
  src/components/Notifications/Warning.tsx
  src/components/NullComponent.js
  src/components/README.md
  src/pages/404.js
  src/third-party/hubspot/components/open-chat-button.tsx
  src/third-party/hubspot/index.ts
  src/types/ably-ui-core-images/ably-ui-icon-loading.d.ts
  src/types/non-javascript-assets/svg-loading.d.ts
Labels: new-toolchain

#1507 [EDX-153] - Update ToC in new toolchain
  data/yaml/page-furniture/sidebar.yaml
Labels: new-toolchain

#1508 Fix broken link in WebRTC screen share tutorial
  content/tutorials/web-rtc-screen-sharing.textile
Labels: bug, tutorials, small

#1509 Fix broken link to client options section of API docs
  content/rest/usage.textile
  content/rest/versions/v0.8/usage.textile
  content/rest/versions/v1.0/usage.textile
  content/rest/versions/v1.1/usage.textile
Labels: bug, article, small
