Repository ably/docs, pull requests merged in 2022-06, with the labels that each got.

#1445 Feature spec: Add spec point for incremental backoff and jitter
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1435 [EDX-142] Add an overview to integrations
  content/general/integrations.textile
Labels: DRAFT

#1447 [EDU-771] Render the DEMO cards in the tutorials page
  config/tutorials/tutorials.json
  content/tutorials/demo-ably-airtable-starter-kit.textile
  content/tutorials/demo-ably-rock-paper-scissors.textile
  content/tutorials/demo-agile-flush-vue-app.textile
  content/tutorials/demo-decorate-a-tree-2020.textile
  content/tutorials/demo-depict-it.textile
  content/tutorials/demo-fully-featured-scalable-chat-app.textile
  content/tutorials/demo-jamstack-sync-stream-video.textile
  content/tutorials/demo-led-matrix-jumper.textile
  content/tutorials/demo-live-caption-demo.textile
  content/tutorials/demo-multiplayer-games-scalable-networking-framework.textile
  content/tutorials/demo-nextjs-chat-app.textile
  content/tutorials/demo-realtime-midi-player.textile
  content/tutorials/demo-realtime-multiplayer-space-invaders.textile
  content/tutorials/demo-realtime-quiz-framework.textile
  content/tutorials/demo-whiteboard.textile
  content/tutorials/index.textile
Labels: content-request, tutorials

#1459 Rename client classes
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1461 Tweak wording around object creation
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1465 [EDX-156] Add `realtimeRequestTimeout` to `ClientOptions`
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1460 Give REST and Realtime channel and presence classes unique names
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1464 [EDX-156] Replace the undefined Params type in IDL
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1458 Edx 123 display api key message on code blocks
  .env.example
  .gitignore
  LEGACY_README.md
  README.md
  data/html-parser/codeblock-api-key-info.js
  data/html-parser/index.js
  gatsby-browser.js
  gatsby-config.js
  graphql-types.ts
  package-lock.json
  package.json
  src/components/Layout/Layout.tsx
  src/components/blocks/software/Code/ApiKeyIndicator.tsx
  src/components/blocks/software/Code/ApiKeyMenu.tsx
  src/components/blocks/software/Code/ApiKeyMenuSelector.tsx
  src/components/blocks/software/Code/CodeCopyButton.tsx
  src/components/blocks/software/Code/InlineCodeElement.tsx
  src/components/blocks/software/Code/api-key-menu-styles.ts
  src/components/blocks/software/Code/index.js
  src/components/blocks/software/__snapshots__/Code.test.js.snap
  src/components/blocks/software/styles.css
  src/components/blocks/wrappers/CopyLink.js
  src/components/blocks/wrappers/LocalLanguageAlternatives.js
  src/components/blocks/wrappers/__snapshots__/CopyLink.test.js.snap
  src/contexts/page-language-context.js
  src/contexts/user-context.ts
  src/pages/docs/404.js
  src/redux/api-key/api-key-reducer.ts
  src/redux/api-key/constants.ts
  src/redux/api-key/index.ts
  src/redux/api-key/remote-api-key-data.ts
  src/redux/fetch-and-add-to-store.ts
  src/redux/select-data.ts
  src/styles/colors.js
  src/types/ably-ui-core-scripts/index.d.ts
  static.json
Labels: new-toolchain

#1468 [EDX-50] - Helmet
  data/transform/index.js
  environment-management/set-warning-off.sh
  environment-management/set-warning-on.sh
  graphql-types.ts
  jest.config.js
  package-lock.json
  package.json
  src/templates/document.js
Labels: new-toolchain

#1462 [EDX-146] Address some differences between the IDL and the feature spec
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1473 [EDX-177] Extract script tags
  static/scripts/api-streamer/examples.js
  static/scripts/quick-start-guide.js
  static/scripts/tutorials/channel-enumeration-rest.js
  static/scripts/tutorials/channel-lifecycle-events.js
  static/scripts/tutorials/channel-occupancy-events.js
  static/scripts/tutorials/encryption.js
  static/scripts/tutorials/history.js
  static/scripts/tutorials/jwt-authentication.js
  static/scripts/tutorials/newsfeed-react.js
  static/scripts/tutorials/presence.js
  static/scripts/tutorials/publish-subscribe.js
  static/scripts/tutorials/web-rtc-data-channels.js
  static/scripts/tutorials/web-rtc-file-transfer.js
  static/scripts/tutorials/web-rtc-screen-sharing.js
  static/scripts/tutorials/web-rtc-video-calling.js
Labels: new-toolchain

#1474 [EDX-119] Sync left menu with active content
  graphql-types.ts
  src/components/Sidebar/SidebarLinkMenu.js
  src/components/Sidebar/check-section-match.test.ts
  src/components/Sidebar/check-section-match.ts
  src/components/Sidebar/styles.js
  src/components/StaticQuerySidebar/left-sidebar.js
Labels: new-toolchain

#1453 [EDX-175] Document the stats types and add to the IDL
  content/client-lib-development-guide/features.textile
Labels: client-lib-spec

#1475 Fix new toolchain build error
  graphql-types.ts
  src/components/Sidebar/SidebarLinkMenu.js
Labels: new-toolchain
